<h1>Here comes the Lorem!</h1>
 
<%= Forgery('lorem_ipsum').paragraphs(1) %>
 
<%= form_for @signature do |f| %>
  Signature: <%= f.text_field :name, id: :signature %>
<%= submit_tag 'Submit' %>
<% end %>